.head {
    height: 200px;
    width: 100%;
    background-color: grey;
    box-sizing: border-box;

}

.blue1 {
    height: 100px;
    width: 100px;
    background-color: rgb(100, 100, 194);
    
}

.box1 {
    height: 400px;
    width: 100%;

}

.blue-row {
    height: 100px;
    width: 100%;
    background-color: blue;
}

.teal-row {
    height: 100px;
    width: 100%;
    background-color: teal;
}

.hydrated-pee-row {
    height: 100px;
    width: 100%;
background-color: rgb(184, 184, 72);
}

.yellow-row {
    height: 100px;
    width: 100%;
    background-color: yellow;
} 